@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-image: url(../images/pexels-charlotte-may-5947093.jpg);
    height:100vh;
    background-size: cover;
    position: relative;
    /*background-color: #576b33;*/
}

h1, h2, p {text-align: center;}

.tea-menu {
    width: 80%;
    background-color: #86945e9a;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-position: center;
    margin: top right bottom left
    position: relative;
    background-color: #49592a;*/
}

.tea-item p{
    display: inline-block;
}

 .tea-flavor, .collections-flavor {
    width: 80%;
    /*float:left;
    text-align: left;*/
    background-color: rgba(0, 0, 255, 0.233);
 }

 .tea-price, .collections-price {
    width: 20%;
    /*float: right;
    text-align: right;*/
    background-color: rgba(137, 43, 226, 0.19);
 }

footer {
    background-color: #86945e9a;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

